@model IEnumerable<MVC_R47.Models.items2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dept2.deptname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dept2.deptname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.itemcode }) |
            @Html.ActionLink("Details", "Details", new { id=item.itemcode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.itemcode })
        </td>
    </tr>
}

</table>
